
node_modules/.cache/gh-pages/https\!github.com\!Sakirty\!sakirty.github.io.git/
*.json
node_modules/*
node_modules/.cache
node_modules/.cache/.eslintcache
node_modules/.cache/default-development/0.pack
node_modules/.cache/default-development/index.pack
node_modules/.cache/default-development/index.pack.old
node_modules/.cache/tsconfig.tsbuildinfo
node_modules/.package-lock.json
src/images/.DS_Store
